<div class="rating-product">

    <link href="~/admin/vendor/rating-product/rating.css" rel="stylesheet" />
    <div class='container'>
        <div class="row">
            <div class="col-lg-12">
                <h3>ĐÁNH GIÁ</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="media comment-box">
                    <div class="media-left">
                        <a href="#">
                            <img class="img-responsive user-photo" src="~/uploads/employee/avatar-02.jpg">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Azar Hank</h4>

                        <p class="rating-comment">Quá tuyệt vời cho một siêu cmn phẩm</p>
                        <p class="rating-date">Được đánh giá vào ngày 19/10/2018</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="media comment-box">
                    <div class="media-left">
                        <a href="#">
                            <img class="img-responsive user-photo" src="~/uploads/employee/avatar-05.jpg">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Azar Hank</h4>

                        <p class="rating-comment">Dở chết mẹ mà khen đéo hiểu sao sdfasdfasdfasdfasdfasdfasdfsdifjsdnfois dvoifasdiobf vóadufasdufs</p>
                        <p class="rating-date">Được đánh giá vào ngày 19/10/2018</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>