@using Microsoft.AspNetCore.Http
@Context.Session.GetString("GioHang")
<header id="header" id="home">
    <div class="header-top">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-lg-8 col-sm-4 col-8 header-top-right no-padding">
                    <ul>
                        <li>
                            <a asp-controller="ProductAdmin" asp-action="Index"><i class="fas fa-user-tie"></i> Management</a>
                        </li>
                        <li>
                            <a asp-controller="Profile" asp-action="Index"><i class="fas fa-user-alt"></i> Profile</a>
                        </li>
                        <li>
                            <a asp-controller="Login" asp-action="Index"><i class="fas fa-sign-in-alt"></i> Login</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <a href="index.html"><img src="~/user/img/logo.png" alt="" title="" width="110" height="60" /></a>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a asp-action="Index" asp-controller="TrangChu">Home</a></li>
                    <li><a asp-action="Index" asp-controller="Menu">Menu</a></li>
                    <li><a asp-action="Index" asp-controller="Cart">Cart</a></li>
                    <li><a asp-action="Index" asp-controller="Checkout">Checkout</a></li>
                    <li><a asp-action="Index" asp-controller="Contact">Contact</a></li>
                    <li class="cart-icon" style="cursor:pointer">
                        <span class="amount-cart">0</span><i class="fas fa-shopping-cart"></i>
                        <ul style="display: block" id="cart_hidden">
                            <li>
                                <a href="#">
                                    <img src="~/uploads/product/cappuccino_PNG26.png" alt="" width="75" height="75">
                                    <div class="item-info">
                                        <h5>CAPPUCHINO</h5>
                                        <p class="item-quantity">Số lượng : 1</p>
                                        <p class="item-price">$18.00</p>
                                    </div>
                                </a>
                            </li>
                            <li class="item-total">
                                <span class="total">TỔNG CỘNG: </span>
                                <span class="total-price">$18</span>
                            </li>
                            <li class="action-button">
                                <a asp-action="Index" asp-controller="Cart">XEM GIỎ HÀNG</a>
                                <a asp-action="Index" asp-controller="Checkout">THANH TOÁN</a>
                            </li>

                        </ul>
                    </li>
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </div>
</header>