@using Microsoft.AspNetCore.Http
<header id="header" id="home">
    <div class="header-top">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-lg-8 col-sm-4 col-8 header-top-right no-padding">
                    <ul>
                        @if (Context.Session.GetString("USERNAME_SESSION") == null)
                        {
                            <li>
                                <a asp-controller="Login" asp-action="Index"><i class="fas fa-sign-in-alt"></i> Login</a>
                            </li>
                        }
                        else
                        {
                            if (Context.Session.GetString("CREDENTITY_SESSION") == "kh")
                            {
                                <li>
                                    <a asp-controller="Profile" asp-action="Index"><i class="fas fa-user-alt"></i> Profile</a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a asp-controller="DashBoard" asp-action="Index"><i class="fas fa-user-tie"></i> Management</a>
                                </li>
                            }
                            <li>
                                Xin chào, @Context.Session.GetString("USERNAME_SESSION")
                            </li>
                            <li>
                                <a asp-controller="Login" asp-action="SignOut"><i class="fas fa-sign-out-alt"></i> Logout</a>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <a asp-action="Index" asp-controller="TrangChu"><img src="~/user/img/logo.png" alt="" title="" width="110" height="60" /></a>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a asp-action="Index" asp-controller="TrangChu">Home</a></li>
                    <li><a asp-action="Index" asp-controller="Menu">Menu</a></li>
                    <li><a asp-action="Index" asp-controller="Cart">Cart</a></li>
                    <li><a asp-action="Index" asp-controller="Checkout">Checkout</a></li>
                    <li><a asp-action="Index" asp-controller="Contact">Contact</a></li>
                    <li class="cart-icon" style="cursor:pointer">
                        <span class="amount-cart">0</span><i class="fas fa-shopping-cart"></i>
                        <ul style="display: block" id="cart_hidden">
                            <li class="none-item"><p>Chưa có sản phẩm trong giỏ</p></li>
                            <li class="item-total">
                                <span class="total">TỔNG CỘNG: </span>
                                <span class="total-price">$0.00</span>
                            </li>
                            <li class="action-button">
                                <a asp-action="Index" asp-controller="Cart">XEM GIỎ HÀNG</a>
                                <a asp-action="Index" asp-controller="Checkout">THANH TOÁN</a>
                            </li>

                        </ul>
                    </li>
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </div>
</header>