<header id="header" id="home">
    <div class="header-top">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-lg-8 col-sm-4 col-8 header-top-right no-padding">
                    <ul>
                        <li>
                            Mon-Fri: 8am to 2pm
                        </li>
                        <li>
                            Sat-Sun: 11am to 4pm
                        </li>
                        <li>
                            <a href="tel:(012) 6985 236 7512">(012) 6985 236 7512</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <a href="index.html"><img src="~/user/img/logo.png" alt="" title="" width="110" height="60" /></a>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="#home">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#coffee">Coffee</a></li>
                    <li><a href="#review">Review</a></li>
                    <li><a href="#blog">Blog</a></li>
                    <li class="cart-icon" style="cursor:pointer">
                        <span class="amount-cart">0</span><i class="fas fa-shopping-cart"></i>
                        <ul style="display: block">
                            <li>
                                <a href="generic.html">
                                    <img src="~/user/img/cappuccino_PNG26.png" alt="" width="75" height="75">
                                    <div class="item-info">
                                        <h5>CAPPUCHINO</h5>
                                        <p class="item-quantity">Số lượng : 1</p>
                                        <p class="item-price">$18.00</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="generic.html">
                                    <img src="~/user/img/cappuccino_PNG26.png" alt="" width="75" height="75">
                                    <div class="item-info">
                                        <h5>CAPPUCHINO</h5>
                                        <p class="item-quantity">Số lượng : 1</p>
                                        <p class="item-price">$18.00</span>
                                    </div>
                                </a>
                            </li>
                            <li class="item-total">
                                <span class="total">TỔNG CỘNG: </span>
                                <span class="total-price">$18</span>
                            </li>
                            <li class="action-button">
                                <a href="" class="btn btn-default">XEM GIỎ HÀNG</a>
                                <a href="" class="btn btn-default">THANH TOÁN</a>
                            </li>

                        </ul>
                    </li>
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </div>
</header>