<head>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/elements/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="colorlib">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">

    <meta property="fb:app_id" content="1981611578625971" />
    <meta property="og:url" content="https://tlecoffeeshop.azurewebsites.net" >
    <meta property="og:type" content="article" >
    <meta property="og:title" content="Are you the real Star Trek geek?" >
    <meta property="og:description" content="Prove your Star Trek geekhood! Are you wise like Yoda or Jar Jar Binks?" >
    <meta property="og:image" content="http://drib.tech/fbsharetest/quiz_landing.jpg" >
    <meta property="og:image:width" content="1200" >
    <meta property="og:image:height" content="630" >
    <!-- Site Title -->
    <title>TLE Café</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
            CSS
            ============================================= -->
    <link rel="stylesheet" href="~/user/css/linearicons.css">
    <link rel="stylesheet" href="~/user/css/owl.carousel.css">
    <link rel="stylesheet" href="~/css/all.css">
    <link rel="stylesheet" href="~/user/css/nice-select.css">
    <link rel="stylesheet" href="~/user/css/magnific-popup.css">
    <link rel="stylesheet" href="~/user/css/bootstrap.css">
    <link rel="stylesheet" href="~/user/css/main.css">
    <link rel="stylesheet" href="~/user/css/custom.css">
    <link rel="stylesheet" href="~/user/css/menu.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/user/js/vendor/jquery-2.2.4.min.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.~/user/js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>*@
    <script src="~/user/js/vendor/bootstrap.min.js"></script>

    <script src="~/js/environment.js"></script>

</head>