
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/User/Layout.cshtml";
}

<section class="generic-banner relative">
    <div class="container">
        <div class="row height align-items-center justify-content-center">
            <div class="col-lg-10">
                <div class="generic-banner-content">
                    <h2 class="text-white">LIÊN HỆ</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<!-- About Generic Start -->
<div class="contact-main-wrapper">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3295.839344928815!2d106.62691930952822!3d10.777911339699232!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752c1df5853869%3A0xee88f01ebaf2d09f!2sViva+Star+Coffee!5e0!3m2!1svi!2s!4v1543412474082" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    <div class="container contact-area">
        <div class="row">
            <div class="col-sm-6 text-left">
                <h3>LIÊN HỆ VỚI CHÚNG TÔI</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.
                </p>
                <ul class="contact-ul">
                    <li>Duis aute irure dolor</li>
                    <li>In reprehenderit in</li>
                    <li>Voluptate velit esse</li>
                    <li>Illum dolore eu fugiat nulla pariatur.</li>
                </ul>
                <div class="contact-icon">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#"><i class="fab fa-tumblr"></i></a>
                </div>
            </div>
            <div class="col-sm-6">
                <form class="contact-form" action="">
                    <div class="form-field">
                        <input type="text" class="form-control" name="name" placeholder="Họ tên">
                    </div>
                    <div class="form-field">
                        <input type="text" class="form-control" name="email" placeholder="Email">
                    </div>
                    <div class="form-field">
                        <textarea name="" id="" cols="10" rows="5" class="form-control" placeholder="Tin nhắn"></textarea>
                    </div>
                    <button class="btn btn-default">GỬI TIN NHẮN</button>
                </form>
            </div>
        </div>
    </div>

</div>