<div class="col-lg-3">
    <div id="imaginary_container">
        <div class="input-group stylish-input-group">
            <input type="text" class="form-control" placeholder="Search">
            <span class="input-group-addon">
                <button type="submit"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </div>
    <div class="single-element-widget">
        <h3 class="mb-30">LOẠI SẢN PHẨM</h3>
        <ul class="list-group-cate">
            <li data-id="0" class="selected"><a href="#">Tất cả</a></li>
            @foreach (var cate in ViewBag.ListCate)
            {
                <li data-id="@cate.MaLoai"><a href="#">@cate.TenLoai</a></li>
            }

        </ul>

    </div>
    <div class="single-element-widget">
        <h3 class="mb-30">ĐANG GIẢM GIÁ</h3>
        <ul class="list-group-product">
            @foreach (var item in ViewBag.ListDiscount)
            {
                <li>
                    <a asp-controller="SingleProduct" asp-action="Index" asp-route-id="@item.MaThucDon">
                        <img src="~/uploads/product/@item.HinhAnh" width="100" height="100">
                        <h5>@item.TenThucDon</h5>
                        <p>$@string.Format("{0:N2}", item.GetGiaKhuyenMai)  <del>$@string.Format("{0:N2}", item.Gia)</del></p>
                    </a>

                </li>
            }

        </ul>

    </div>
</div>