.form-check-label {
    margin-right: 30px;
}

.table-responsive {
    height: 700px;
    overflow-y: unset;
}

.pagination-container {
    margin-bottom: 20px;
}

button.au-btn.au-btn-icon.au-btn--green.au-btn--small {
    width: 93px;
}

.au-input--xl {
    min-width: 447px;
}

.modal-open .modal {
    overflow-x: unset;
}

.modal.child_modal .modal-content {
    width: 500px;
    position: absolute;
    left: 100px;
    background: #f5f5f5;
    top: 200px;
    box-shadow: 1px 2px #00000014;
}
