@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <h3>Test Page</h3>
    <button id="joinGroup">Join Private Group</button>
    <input type="text" id="messInput" />
    <button id="sendEveryone">Send To EveryOne</button>
    <button id="sendPrivate">Send To Private Group</button>
    <ul id="listMess"></ul>

</body>
</html>

<script src="~/lib/dist/browser/signalr.js"></script>
<script src="~/js/testt.js"></script>
