
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/User/Layout.cshtml";
}

<!-- start banner Area -->
<section class="banner-area" id="home">
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-start">
            <div class="banner-content col-lg-7">
                <h6 class="text-white text-uppercase">Now you can feel the Energy</h6>
                <h1>
                    Start your day with <br>
                    a black Coffee
                </h1>
                <a href="#" class="primary-btn text-uppercase">Buy Now</a>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<!-- Start video-sec Area -->
<div id="fb-root">
</div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&autoLogAppEvents=1&version=v4.0&appId=356589531920445">
</script>
<div class="fb-like" style="position:relative;z-index=99999;bottom:120px;left:20px" data-href="https://www.facebook.com/TLE-CoffeeShop-958586334316355" data-width="26" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>

<div class="offers-area">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-10">
                <div class="title text-center">
                    <h1 class="mb-10">OUR DELICIOUS OFFERS</h1>
                    <img src="~/user/img/title-separator.png" alt="">
                    <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</h6>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="offers-content">
                    <img src="~/user/img/custom-icon1.png" alt="">
                    <div class="content">
                        <h5>TYPES OF COFFEE</h5>
                        <p>Lorem ipsum dolor sit ametal, consectetuer adipiscing elitus. Aeneantos commodo</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="offers-content">
                    <img src="~/user/img/h2-custom-icon-6.png" alt="">
                    <div class="content">
                        <h5>BEAN VARIETIES</h5>
                        <p>Lorem ipsum dolor sit ametal, consectetuer adipiscing elitus. Aeneantos commodo</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="offers-content">
                    <img src="~/user/img/h2-custom-icon-7.png" alt="">
                    <div class="content">
                        <h5>COFFEE & PASTRY</h5>
                        <p>Lorem ipsum dolor sit ametal, consectetuer adipiscing elitus. Aeneantos commodo</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="offers-content">
                    <img src="~/user/img/h2-custom-icon-8.png" alt="">
                    <div class="content">
                        <h5>COFFEE TO GO</h5>
                        <p>Lorem ipsum dolor sit ametal, consectetuer adipiscing elitus. Aeneantos commodo</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End video-sec Area -->
<!-- Start menu Area -->
<section class="menu-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-10">
                <div class="title text-center">
                    <h1 class="mb-10">NEWEST MENU</h1>
                    <img src="~/user/img/title-separator.png" alt="">
                    <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</h6>
                </div>
            </div>
        </div>
        <div class="row" id="coffee" style="opacity:0; position: relative">
            @foreach (var product in ViewBag.ListProduct)
            {

                <div class="col-lg-4">
                    <a asp-controller="SingleProduct" asp-action="Index" asp-route-id="@product.MaThucDon">
                        <div class="menu-image">
                            <img src="~/uploads/product/@product.HinhAnh" alt="" width="200" height="200">
                        </div>
                        <div class="single-menu">

                            <div class="title-div justify-content-between d-flex">
                                <h4>@product.TenThucDon</h4>
                                <p class="price float-right">
                                    $@string.Format("{0:N2}", product.GetGiaKhuyenMai)
                                </p>
                            </div>
                            <p style="color: #777777">Category: <span style="color: #be9c79; font-weight:bold">@product.TenLoai</span></p>
                        </div>
                    </a>
                </div>
            }

        </div>
    </div>
</section>
<!-- End menu Area -->
<!-- My logo -->
<div class="my-logo" height="600px">
    <img src="~/user/img/h1-single-img-1-250x226.png" width="250" height="226" alt="">
</div>
<!-- End my logo -->
<!-- Start gallery Area -->
<section class="gallery-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-10">
                <div class="title text-center">
                    <img src="~/user/img/title-above.png" alt="" width="217" height="136" id="title-above-img">
                    <h1 class="mb-10">ABOUT US</h1>
                    <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</h6>
                </div>
            </div>
        </div>
        <div class="row img-gallery">
            <div class="col-lg-4">
                <a href="~/user/img/g1.jpg" class="img-pop-home">
                    <img class="img-fluid" src="~/user/img/g1.jpg" alt="">
                </a>
                <a href="~/user/img/g2.jpg" class="img-pop-home">
                    <img class="img-fluid" src="~/user/img/g2.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-8">
                <a href="~/user/img/g3.jpg" class="img-pop-home">
                    <img class="img-fluid" src="~/user/img/g3.jpg" alt="">
                </a>
                <div class="row">
                    <div class="col-lg-6">
                        <a href="~/user/img/g4.jpg" class="img-pop-home">
                            <img class="img-fluid" src="~/user/img/g4.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a href="~/user/img/g5.jpg" class="img-pop-home">
                            <img class="img-fluid" src="~/user/img/g5.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End gallery Area -->
