@model IEnumerable<CoffeeShopProject.Models.LoaiThucDon>

<style>
    .modal-dialog {
        max-width: 700px;
    }

    #category_modal {
        position: absolute;
        bottom: 1px;
        right: 33px;
        border-radius: unset;
        height: 36px;
        background: #3498db;
        border: unset;
    }

    #add_modal .modal-content {
        min-width: 1200px;
        margin-left: -220px;
    }
    .ui-autocomplete {
        position: absolute;
        z-index: 100000;
        cursor: default;
        padding: 0;
        margin-top: 2px;
        list-style: none;
        background-color: #ffffff;
        border: 1px solid #ccc;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }

        .ui-autocomplete > li {
            padding: 3px 20px;
        }

            .ui-autocomplete > li.ui-state-focus {
                background-color: #DDD;
            }

    .ui-helper-hidden-accessible {
        display: none;
    }
</style>

<!--ADD MODAL-->
<form id="" method="post" enctype="multipart/form-data" class="form-horizontal" action="#">
    <div class="modal fade parent_modal" id="add_conversation_modal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title" id="add_product_modal_title">Thêm cuộc trò chuyện</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="card-body card-block">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row form-group">
                                    <div class="col col-md-3 text-right">
                                        <label for="text-input" class=" form-control-label">Tên cuộc trò chuyện</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3 text-right">
                                        <label for="text-input" class=" form-control-label">Người tham gia</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="text" id="list_account" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="addConversationBtn" data-action="add_submit">Thêm</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
                </div>

            </div>
        </div>
    </div>
</form>
<!--END ADD MODAL-->
