
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <h3>Cart Page</h3>
    <table cellpadding="2" cellspacing="2" border="1">
        <tr>
            <th>Option</th>
            <th>Id</th>
            <th>Name</th>
            <th>Photo</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Sub Total</th>
        </tr>
        @if (ViewBag.cart == null)
        {
            <p>null</p>
        }
        else
        {
            @foreach (var item in ViewBag.cart)
            {
                <tr>
                    <td>@item.TenThucDon</td>
                    <td>@item.SoLuong</td>
                </tr>
            }
        }

        <tr>
            <td align="right" colspan="6">Sum</td>
            <td></td>
        </tr>
    </table>
    <br>

</body>
</html>
