
@{
    ViewData["Title"] = "chiTietDatHang";
    Layout = "~/Views/Layout/Admin/Layout.cshtml";
}

<div class="col-md-12 graphs">
    <div class="xs">       
            <h3>Chi tiết đơn hàng</h3>
            <div class="guest-info">
                <table class="table-info">
                    <tbody>
                        <tr>
                            <th>Tên khách hàng: </th>
                            <td>Quốc Xạo Lol</td>
                        </tr>
                        <tr>
                            <th>Số điện thoại: </th>
                            <td>113 113 113</td>
                        </tr>
                        <tr>
                            <th>Email: </th>
                            <td>quococho@traicho.com</td>
                        </tr>
                        <tr>
                            <th>Địa chỉ: </th>
                            <td>Bệnh viện Biên Hòa</td>
                        </tr>
                        <tr>
                            <th>Tỉnh/ thành: </th>
                            <td>Đồng Nai</td>
                        </tr>
                        <tr>
                            <th>Ghi chú: </th>
                            <td></td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <div class="table-responsive">
                <h4>Chi tiết giỏ hàng</h4>
                <table class="table table-bordered" style="color: black">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Hình ảnh</th>
                            <th>Sản phẩm</th>
                            <th>Giá</th>
                            <th>Số lượng</th>
                            <th>Tổng cộng</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>
                                <a href="#"> <img class="media-object" src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png" style="width: 72px; height: 72px;"> </a>
                            </td>
                            <td>Thuốc bổ não</td>
                            <td>2.000.000đ</td>
                            <td>10</td>
                            <td>20.000.000đ</td>
                        </tr>
                        <tr>
                            <th colspan="5" style="text-align: center">Thành tiền</th>
                            <td>20.000.000đ</td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- /.table-responsive -->
    </div>
</div>