<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="#">
            <img src="~/images/icon/logo.png" alt="Cool Admin" />
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                @*<li class="has-sub">
            <a class="js-arrow" href="#">
                <i class="fas fa-tachometer-alt"></i>Dashboard
            </a>
            <ul class="list-unstyled navbar__sub-list js-sub-list">
                <li>
                    <a href="index.html">Dashboard 1</a>
                </li>
                <li>
                    <a href="index2.html">Dashboard 2</a>
                </li>
                <li>
                    <a href="index3.html">Dashboard 3</a>
                </li>
                <li>
                    <a href="index4.html">Dashboard 4</a>
                </li>
            </ul>
        </li>*@
                <li>
                    <a asp-controller="ProductAdmin" asp-action="Index">
                        <i class="fas fa-bars"></i>Thực đơn
                    </a>
                </li>
                <li>
                    <a asp-controller="EmployeeAdmin" asp-action="Index">
                        <i class="fa fa-user"></i>Nhân viên
                    </a>
                </li>
                <li>
                    <a asp-controller="BillAdmin" asp-action="Index">
                        <i class="fas fa-money-bill"></i>Hóa đơn
                    </a>
                </li>
                <li>
                    <a asp-controller="OrderAdmin" asp-action="Index">
                        <i class="fa fa-shopping-cart"></i>Đơn hàng
                    </a>
                </li>



            </ul>
        </nav>
    </div>
</aside>